<% bookCoverClass = locals.large ? 'book-cover-large' : ''%>
<% bookGridClass = locals.large ? 'book-grid-large' : ''%>

<div class="hover13 book-grid <%= bookGridClass%>">
    <% books.forEach(book => { %> 
        <a href="/books/<%= book.id %>">
            <figure>
                <img class="book-cover <%=bookCoverClass%>" src="<%= book.coverImagePath %>">
            </figure>
        </a>
    <% }) %>
</div>